### WebStorm ###
# Ignore WebStorm folder and files.
# User-specific stuff:
.idea/*
.idea/workspace.xml
.idea/tasks.xml

# Sensitive or high-churn files:
.idea/dataSources/
.idea/dataSources.ids
.idea/dataSources.xml
.idea/dataSources.local.xml
.idea/sqlDataSources.xml
.idea/dynamic.xml
.idea/uiDesigner.xml

### VisualStudioCode ###
**/*.code-workspace
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

### VisualStudioCode Patch ###
# Ignore all local history of files
.history

### Node ###
# Logs
logs
*.log
npm-debug.log*
**/node_modules
node_modules

# my saved React components
client/src/components-save