<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<script type="text/javascript">
  chart = {
    // Create the SVG
    // As you an see, the svg is initialized with height = dx.
    // This will be updated later when the rest of the nodes in the tree are entered.
    const svg =
      d3
        .create("svg")
        .attr("width", width)
        .attr("height", dx)
        .style("font", "1rem sans-serif")
        .on("click", handleClickOnCanvas)

    // 2.1 Create a container for all the nodes in the graph
    const gNode =
      svg
        .append("g")
        .attr('id', 'nodes')
        .attr("cursor", "pointer");

  // 2.2 Create a container for all the links in the graph
  const gLink =
    svg
      .append("g")
      .attr('id', 'links')
      .attr("fill", "none")
      .attr("stroke", "#555")
      .attr("stroke-opacity", 0.4)
      .attr("stroke-width", 1.5);

  // 3. Fill in the nodes and links with the hierarchy data
  update(svg);

  // 4. Register other event handlers
  d3.select('body')
    .on("keydown", function(e) {
      console.log(`keydown: ${d3.event.keyCode}`);
      // Check to see if a node is being edited
      let nodeIsBeingEdited = gNode.select('g.node-editing').size()

      if(d3.event.keyCode == 9) {
        console.log("tab - append child to selected node");
        appendChildToSelectedNode(svg);
      } else if(d3.event.keyCode == 13 && !nodeIsBeingEdited) {
        console.log("enter - add sibling to selected node");
        addSiblingToSelectedNode(svg);
      } else if(d3.event.keyCode == 8 && !nodeIsBeingEdited) {
        console.log("delete - remove selected node");
        removeSelectedNode(svg);
      } else if(d3.event.keyCode == 27) {
        console.log("esc - deselect node");
        handleKeypressEsc(svg);
      }
    });

  return svg.node();
  }


  update = (svg) => {

    // d3.hierarchy object is a data structure that represents a hierarchy
    // It has a number of functions defined on it for retrieving things like
    // ancestor, descendant, and leaf nodes, and for computing the path between nodes
    // const root = d3.hierarchy(treeData);
    const root = d3.hierarchy(treeData);

    root.x0 = dy / 2;
    root.y0 = 0;

    // console.log(root)
    // console.log(root.descendants())

    root.descendants().forEach((d, i) => {
      // console.log(d)
      // console.log(i)
      d.id = d.data.id;
      d._children = d.children;
    });

    const duration = 100
    const nodes = root.descendants().reverse();
    const links = root.links();

    // Compute the new tree layout.
    tree(root);

    let left = root;
    let right = root;
    root.eachBefore(node => {
      if (node.x < left.x) left = node;
      if (node.x > right.x) right = node;
    });

    const height = right.x - left.x + margin.top + margin.bottom;

    const transition =
      svg
        .transition()
        .duration(duration)
        .attr("height", height)
        .attr("viewBox", [-margin.left, left.x - margin.top, width, height])
        .tween("resize", window.ResizeObserver ? null : () => () => svg.dispatch("toggle"));


    // Update the nodes
    const existingNodeContainers = svg.select('#nodes').selectAll("g").data(nodes, d => d.id);

    // Enter any new nodes at the parent's previous position.
    // Create new node containers that each contains a circle and a text label
    const newNodeContainers = existingNodeContainers.enter().append("g")
      .attr('id', (d,i) => `${d.id}`)
      .attr('class', 'node')
      .attr("transform", d => `translate(${root.y0},${root.x0})`)
      .attr("fill-opacity", 0)
      .attr("stroke-opacity", 0)


    newNodeContainers.append("circle")
      .attr("r", 2)
      .attr("fill", d => d._children ? "#555" : "#999");

    newNodeContainers.append('foreignObject')
      .attr('x', -50)
      .attr('y', -35)
      .attr('width', 80)
      .attr('height', 40)
      .append("xhtml:p")
      .text(d => d.data.name)

    existingNodeContainers.merge(newNodeContainers)
      .on("click", handleClickOnNode)
    // Transition nodes to their new position.
    // Increase opacity from 0 to 1 during transition
    const nodeUpdate = existingNodeContainers.merge(newNodeContainers).transition(transition)
      .attr("transform", d => `translate(${d.y},${d.x})`)
      .attr("fill-opacity", 1)
      .attr("stroke-opacity", 1);

    // Transition exiting nodes to the parent's new position.
    // Reduce opacity from 1 to 0 during transition
    const nodeExit = existingNodeContainers.exit().transition(transition).remove()
      .attr("transform", d => `translate(${root.y},${root.x})`)
      .attr("fill-opacity", 0)
      .attr("stroke-opacity", 0);


    // Update the links…
    const existingLinkPaths = svg.select('#links').selectAll("path").data(links, d => d.target.id);

    // Enter any new links at the parent's previous position.
    const newLinkPaths = existingLinkPaths.enter().append("path")
      .attr("d", d => {
        const o = {x: root.x0, y: root.y0};
        return diagonal({source: o, target: o});
      });

    // Transition links to their new position.
    existingLinkPaths.merge(newLinkPaths).transition(transition)
      .attr("d", diagonal);

    // Transition exiting nodes to the parent's new position.
    existingLinkPaths.exit().transition(transition).remove()
      .attr("d", d => {
        const o = {x: root.x, y: root.y};
        return diagonal({source: o, target: o});
      });

    // Stash the old positions for transition.
    root.eachBefore(d => {
      d.x0 = d.x;
      d.y0 = d.y;
    });
  }
</script>

</body>
</html>
